<div class="row" style="margin: 10px;">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{booking.show.movie.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{booking.show.screen.theater.name}}, {{booking.show.screen.theater.location}}</h6>
                <h6 class="card-subtitle mb-2">{{booking.show.show_time|date:"H:i | d-b-y"}}</h6>

                Invoice status : {{booking.invoice.status.name}}
                <br />
                Seats: <b>{{booking.seats.all.first.seat_type.name}}</b>
                {% for seat in booking.seats.all %}
                {{seat.row_id}}-{{seat.col_id}}
                {% endfor %}
                <br />
                Amount Paid: {{booking.invoice.total_price}}
            </div>
        </div>
    </div>

    {% include 'rate_card.html' %}
</div>
