{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">{{movie.title}}</h4>
      <p>{{show.screen.theater}}</p>
    </div>

    <div class="card" style="width: 20rem; margin:auto;">
      <div class="card-header">
        <h5 class="text-danger">BOOKING SUMMARY</h5>
      </div>
      <div class="card-body" style="padding-bottom: 0">
        <div class="card-title">
          {% for seat in booking.seats.all %}
            <b>{{seat}}</b>
          {% endfor %}

          <div style="float:right;"><b>Rs. {{invoice.ticket_price}}</b></div>
          <div class="text-muted">{{show.screen}}</div>
        </div>

        <div class="card-text">
          Taxes
          <div style="float:right;"><b>Rs. {{invoice.taxes}}</b></div>
        </div>

        <div class="card-text">
          Service Charge
          <div style="float:right;"><b>Rs. {{invoice.service_charge}}</b></div>
        </div>

        <hr class="mb-4">

        <div class="card-title text-danger">
          <b>TOTAL</b>
          <div style="float:right;"><b>Rs. {{invoice.total_price}}</b></div>
        </div>
      </div>

      <div class="card-footer">
        <button role="button" class="btn btn-danger" style="float:right;">Proceed</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    $(window).on('beforeunload', function() {
      $.ajax({
        url: "http://localhost:8000/cancel_booking/{{booking.id}}",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          booking_id: {{booking.id}}
        }
      });

      console.log('called');
    });

  </script>

{% endblock %}

{% block title %}
  {{movie.title}}
{% endblock %}