<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Movies</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/running">Nearby You<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upcoming">Upcoming</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search"
    method="get">
    <input class="form-control mr-sm-2" type="search"
    placeholder="Search"
    aria-label="Search"
    name="q">
    <select multiple name="models" style="display:none">
      <option value="booking_system.crewprofile" selected>Crew</option>
      <option value="booking_system.genre" selected>Genre</option>
      <option value="booking_system.movie" selected>Movie</option>
      <option value="booking_system.theater" selected>Theater</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <ul class="navbar-nav navbar-right pull-right">
    <div style="margin-left: 10px" />
  {% if user != None and user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.username}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <div class="dropdown-item">{{user.first_name}} {{user.last_name}}</div>
        <a class="dropdown-item" href="/preferences">Preferences</a>
        {% if user.is_staff %}
          <a class="dropdown-item" href="/admin">Dashboard</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </li>
  {% else %}
    <a href="/login" class="btn btn-primary">Login</a>
  {% endif %}
</ul>


    </div>
  </nav>
