{% extends 'base.html' %}

{% block content %}
    <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">{{movie.title}} ({{movie.language}}) </h1>
           <p>{{movie.synopsis}}</p>
           <hr class="my-4">
           {% for genre in movie.genres.all %}
                <button type="button" class="btn btn-outline-secondary">{{genre}}</button>
           {% endfor %}
           <br />
       </div>

        <div class="row" id="date_row" style="margin-left: -5px;">
            {% for date in dates %}
                <button style="margin-left:10px;" type="button" class="btn" id="date_{{date}}">{{date}}</button>
            {% endfor %}
        </div>

        {% for t,v in timings %}
            <div id="date_{{t}}_v">
                {{v}}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(window).on('load', function (){
            var d = $("#date_row").find("button").map(function() {return this.id}).get();
            var curr = d[0];

            d.forEach(function(v) {
                $("#"+v+"_v").hide();
                $('#'+v).on('click', function() {
                    $("#"+curr+"_v").hide();
                    $("#"+v+"_v").show();

                    $('#'+curr).removeClass("btn-success");
                    $('#'+v).addClass('btn-success');

                    curr = v;
                })
            });

            $('#'+curr).click();
        });
    </script>
{% endblock %}

{% block title %}
    {{movie.title}}
{% endblock %}

