{% extends 'base.html' %}

{% block content %}
<div class = "card">
	<div class="card-body">
		<div class="row">
			<div class="card-columns">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<h3 class="card-title"> <strong>{{movie.title}}</strong> </h3>
						</div>
						<div class = "row">
							<h5 class="card-title"> <strong>Language : </strong> </h5>
							<h5 class="card-title"> {{movie.language}} </h5>
						</div>
						<div class = "row">
							<h5 class="card-title"> <strong>Genre : </strong> </h5>
							{%for g in movie.genres.all%}
							<h5 class="card-title"> <span style = "padding-right: 10px;">{{g }} </span> </h5>
							{%endfor%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% for key, values in timings.items %}
<div class = "card">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<h3 class="card-title"> <strong>{{key}}</strong> </h3>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<div class = "row">
							{%for time in values%}
							<div class = "col-sm-3">
								<h4><span style='border:1.5px black solid; font-size:25px;'>{{time}}</span></h4>
							</div>
							{%endfor%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endfor%}
{% endblock %}
