{% extends 'base.html' %}

{% block title %} User's homepage {% endblock %}

{% block content %}

<div class="row">
    <div class="col-7">
        <div class="row">
            <div class="col-12">
                <h3> Recommended for you. </h3>
                {% for movie in movies %}
                    {{movie}}
                {% endfor %}
            </div>
            <div class="col-12">
                <h3> Your favourite genres </h3>
            </div>
        </div>
    </div>
    <div class="col-5">
        <h3> Popular movies </h3>
    </div>
</div>


{% endblock %}






