.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 6;
  }
  @include media-breakpoint-only(sm) {
    column-count: 7;
  }
  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 7;
  }
}

.movie_ticket {
  width: 2vh;
  height: 2vh;
  margin: 1px;
  border: 1px solid black;
  border-radius: 4px;
}

.selectable {

}

.unselectable {
  background-color: gray;
}

.selected {
  background-color: green;
}

#proceed {
  background-color: red;
  font-color: green;
  font-weight: 900;
  maring: 10px;
  padding: 10px;
}

body {
    padding-top: 5em;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    background-color: rgba(0,0,0,0.1);
    display: block;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
